html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  flex: 0 0 auto;
  height: 4rem;
  background: rgb(70, 0, 70);
  align-items: center;
  justify-content: center;
}
.header-title {
  color: white;
  font-size: xx-large;
}

.content {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
}

footer {
  flex: 0 0 auto;
  height: 2rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

.page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spiral-background {
  background: radial-gradient(
    circle at center,
    white,
    rgb(220, 220, 220),
    white 100%
  );
}

.player {
  @extend .spiral-background;
  list-style: none; /* Remove default bullets */
  border: 5px solid;
  padding: 1rem;
  border-radius: 2rem;
}

.letters {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25em;
}

.letter-tile {
  color: black;
  background-color: #ebe6b7;
  border-radius: 0.5em;
  padding: 0.5em;
  width: 1em;
  height: 1em;
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px 0px #bfbb93, 2px 2px 0px #bfbb93, 3px 3px 0px #bfbb93,
    4px 4px 0px #bfbb93, 5px 5px 0px #bfbb93;
}
.letter-tile:not(.disabled) {
  cursor: grab;
}

.tableau {
  @extend .spiral-background;
  padding: 0.5em;
  margin: 1em;
  border: 5px solid;
  border-radius: 1em;
  width: 18em;
  height: 2.5em;
  display: flex;
  flex-direction: row;
}

.task-card {
  @extend .spiral-background;
  position: relative;
  margin: 1em;
  padding: 1em;
  width: 12em;
  height: 4em;
  border-radius: 1em;
  border: 5px solid grey;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-card.match > button {
  position: absolute;
  top: 0;
  right: 0;
}

.task-cards-panel {
  display: flex;
  flex-direction: column;
}

.match-panel {
  display: flex;
  flex-direction: row;
}

.dragging {
  opacity: 0.5;
}
.dropping {
  filter: 80%;
}
