$color-primary: rgb(133, 28, 133);
$color-active: rgba(133, 28, 133, 0.3);
@import "milligram/src/milligram.sass";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  flex: 0 0 auto;
  height: 6rem;
  background: $color-primary;
  align-items: center;
  justify-content: center;
}
.header-title {
  color: white;
  font-size: xx-large;
}

.content {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
}

footer {
  flex: 0 0 auto;
  height: 2rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

.page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.waiting {
    cursor: wait;
    opacity: 0.8;
    & input,
    button {
      pointer-events: none;
    }
    & .tableau,
    .task-card {
      cursor: not-allowed !important;
    }
  }
}

.spiral-background {
  background: radial-gradient(
    circle at center,
    white,
    rgb(220, 220, 220),
    white 100%
  );
}

.player {
  @extend .spiral-background;
  list-style: none; /* Remove default bullets */
  border: 5px solid;
  padding: 1rem;
  border-radius: 2rem;
  min-width: 20rem;
}

.letters {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 35rem;
  min-height: 35px;
}

.letter-tile {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #ebe6b7;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px 0px #bfbb93, 2px 2px 0px #bfbb93, 3px 3px 0px #bfbb93,
    4px 4px 0px #bfbb93, 5px 5px 0px #bfbb93;
}
.letter-tile:not(.disabled) {
  cursor: grab;
}

.tableau {
  @extend .spiral-background;
  padding: 0.5rem;
  margin: 1em;
  border: 5px solid;
  border-radius: 2rem;
  width: 34rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  &.active {
    background: $color-active;
  }
}

.task-card {
  @extend .spiral-background;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  width: 24rem;
  height: 8rem;
  border-radius: 2rem;

  border: 5px solid grey;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.active {
    background: $color-active;
  }
}
.task-card.match > button {
  position: absolute;
  top: -0.8rem;
  right: -1.5rem;
}

.task-cards-panel {
  display: flex;
  flex-direction: column;
}

.match-panel {
  display: flex;
  flex-direction: row;
}

.dragging {
  cursor: grabbing;
  opacity: 0.5;
}

.loader {
  margin: 15rem auto;
  font-size: xx-large;
  border: 16px solid $color-active;
  border-top: 16px solid $color-primary;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

tr.winner {
  background-color: $color-active;
}

// utils
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
